# Copier ce fichier en .env et remplir les valeurs
DATABASE_URL=postgresql://user:password@db:5432/insurance
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=insurance
POSTGRES_HOST=db
POSTGRES_PORT=5432

FREQ_MODEL_PATH=frequence/models/catboost_calibrated.pkl
SEV_MODEL_PATH=severite/models/catboost_severite.pkl
RF_POIDS_PATH=severite/models/model_rf_poids.pkl

DEBUG=true
